<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link href='/stylesheets/style.css' rel='stylesheet' type='textcss'>

  <head>
  <body>
    <h1>MAD LIBS</h1>

    <form action='/response' method='POST'>
      Adjective: <input type='text' name='adje'>
    </br>
      Noun(plural): <input type='text' name='pluralnoun2'>
    </br>
      Verb(ing): <input type='text' name='verbing'>
    </br>
      Noun(plural): <input type='text' name='pluralnoun3'>
    </br>
      Verb(ing): <input type='text' name='verbing2'>
    </br>
      Noun(plural): <input type='text' name='pluralnoun4'>
    </br>
      Verb(ing): <input type='text' name='verbing3'>
    </br>
      Noun(plural): <input type='text' name='pluralnoun1'>
    </br>
    <p id='submit'>
      <button type='submit'>See Your Story</button>
    </p>
    </form>
  </body>
</html>
