body {
  font-family: Arial;
}
h1, h2{
  font-family: 'Poiret One', cursive;
  color: red;
  background-color: yellow;
  width: 50%;
}
.title {
  display:none;
  font-weight: bold;
}
ul {
  border: 1px solid grey;
  background: #DAF2FF;
  padding: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
